#sim-max7219 {
    margin: 10px;
}

#sim-matrix {
    width: 128px;
    height: 128px;
    display: flex;
    flex-wrap: wrap;
}

#sim-matrix div {
    width: 14px;
    height: 14px;
    margin: 1px;
    background: #222;
    border-radius: 3px;
}
